:root {
    --gray: #ededed;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-size: contain;
    background-position: center;
    font-family: monospace;
    margin: auto;
}

.mainNav {
    margin: auto;
    text-align: center;
    position: relative;
    background-color: #2B2E2B;
    padding: 1rem;
}

.mainNav li {
    display: inline-block;
    padding-left: 40px;
}

.mainNav li a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: white;
}

.mainNav li a:hover {
    color: rgba(62, 137, 177, 0.556);
    transition: all 0.2s ease-in;
}

.active {
    border-bottom: 1px solid cyan;
}