:root {
    --gray: #ededed;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-size: contain;
    background-position: center;
    font-family: monospace;
    margin: auto;
}

.mainNav {
    margin: auto;
    text-align: center;
    position: relative;
    background-color: black;
    padding: 4%;
}

.mainNav li {
    display: inline-block;
}

.mainNav li a {
    color: white;
    text-decoration: none;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.active {
    border: 1px solid white;
}

.mainNav li a:hover {
    border: 1px solid var(--gray);
    background: var(--gray);
    color: black;
    transition: all 0.6s ease-in;
}